@import "../../styles/partials/_variables";

.autocomplete {
  display: flex;
  flex: 1 1 100%;
}

.autocomplete-menu {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  background: #fff;
  max-height: 250px;
  padding: 5px;
  margin: 0;
  overflow: auto;
  list-style-type: none;
  z-index: map-get($z-index, menu);
  box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.5);
  transform: translateY(100%);

  .autocomplete-suggestion .button {
    width: 100%;
  }
  .highlight {
    font-weight: bold;
  }
}

#no-suggestions-item {
  font-size: 13.33px;
  text-align: center;
}
