@import '../../styles/_mixins';
@import '../../styles/_colours.scss';
@import '../../styles/_variables.scss';

$base-message-colour: $grey67;
$loading-message-colour: $orange;
$success-message-colour: $forest-green;

.quick-add-form {
  position: fixed;
  top: $header-height;
  left: $sidebar-width-open;
  right: 0;
  bottom: 0;
  padding: 10px;
  z-index: map-get($z-index, above-siblings);

  .form-title {
    margin: 5px 0;
  }
  .updated-item-values-container {
    display: flex;
  }

  &__feedback {
    color: $danger-colour;
    font-size: 0.8rem;
    min-height: 1rem;
    padding: 0 10px;
  }

  &__list {
    margin-top: 10px;
    padding-top: 10px;
  }
}

.sidebar-collapsed .quick-add-form {
  left: $sidebar-width-collapsed;
}

.mal-update-message {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 0.6rem;
  color: $base-message-colour;

  &.loading {
    color: $loading-message-colour;
  }

  &.success {
    color: $success-message-colour;
  }
}

.paged-list-edit .list {
  --list-height: 300px;
  height: var(--list-height);
  max-height: var(--list-height);
  overflow: auto;

  li {
    min-height: 60px;
    max-height: 60px;
  }
}

@include respondToAll((xxs, xs)) {
  .paged-list-edit .list li {
    min-height: fit-content;
    max-height: max-content;
    padding-bottom: 10px;
    border-bottom: 1px solid transparent;
    margin-bottom: 20px;
  }
}
