@import '~styles/_mixins';

.paging-controls {
  display: flex;
  flex-direction: row !important;
  padding: 0 5px;

  &__content-wrapper {
    @include respondTo(xs) {
      justify-content: center;
    }
  }

  &__item-count {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 10px;
    text-align: right;
    font-size: 0.8em;

    @include respondTo(xs) {
      justify-content: flex-start;
    }
  }

  &__control {
    flex-grow: 0;
  }
}
