[submodule "satellizer"]
	path = satellizer
	url = https://github.com/bakuzan/satellizer.git
[submodule "yoruichi-shunko"]
	path = yoruichi-shunko
	url = https://github.com/bakuzan/yoruichi-shunko.git
