# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/iisnode
/build
/build__old
*.css
*.sqlite
*.sqlite-journal

# misc
.DS_Store
.env
.env.bak
npm-debug.log*
yarn-debug.log*
yarn-error.log*
web.config*

# db migration
server/config/data

# tools outputs
tools/output
tools/store/offline_db.json
