.related-series-lists {
  display: grid;
  grid-template-columns: repeat(auto-fit, 50%);

  ul {
    max-height: 50vh;
    overflow: auto;
  }
  a {
    justify-content: flex-start;
  }
}

.tag-details {
  &__form {
    display: flex;
    width: 50%;
    padding: 10px;
  }

  &__content {
    padding: 0 10px;
    margin-top: 20px;
  }
}
