@import '../../styles/partials/_colours.scss';
@import '../../styles/partials/_variables.scss';

$base-message-colour: $grey67;
$loading-message-colour: $orange;
$success-message-colour: $forest-green;

#quick-add-form {
  position: absolute;
  top: $header-height;
  left: $sidebar-width-open;
  right: 0;
  bottom: 0;
  padding: 10px;
  z-index: map-get($z-index, above-siblings);

  .form-title {
    margin: 5px 0;
  }
  .updated-item-values-container {
    display: flex;
  }
}
.sidebar-collapsed #quick-add-form {
  left: $sidebar-width-collapsed;
}

.mal-update-message {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 0.6rem;
  color: $base-message-colour;

  &.loading {
    color: $loading-message-colour;
  }

  &.success {
    color: $success-message-colour;
  }
}
