$series-image-container--height: 150px;

.series-image-container {
  height: auto;
  max-height: $series-image-container--height;
  max-width: 235px;
  padding: 0 5px;
  overflow: hidden;

  p {
    padding: 5px;
    margin: 5px;
  }

  img {
    width: 100%;
    min-height: $series-image-container--height;
    height: auto;
    border: 1px dashed transparent;
  }

  .mal-link > img {
    width: 27px;
    min-height: 27px;
  }

  &--full {
    max-height: none;
    padding: 5px;

    img {
      padding: 5px;
    }
  }
}
