.list-filter {
  display: flex;
  flex-direction: column;
  max-width: 25%;
  height: calc(100vh - 50px);
  padding: 20px 5px;

  .input-container {
    margin: 5px 0;
  }
}

.list-filter-custom-content {
  display: flex;
  align-items: flex-end;
  height: calc(100% - 240px);
}
