$darken-amount: 5%;

// Colours
$erza-red: #850512;
$erza-red-highlight: #ce414a;
$erza-blue: #082a6a;
$erza-silver: #e1e3ef;
$erza-silver-shade: #7e7e86;

$white: #fff;
$grey95: #f2f2f2;
$grey94: #efefef;
$grey80: #ccc;
$grey40: #666;
$onyx: #0f0f0f;
$black-blue: #1c1f2b;
$black-red: #420309;
$black-smokey: #100c08;
$black: #000;

$red: #ff0000;
$green: #00ff00;
$blue: #0000ff;
$yellow: #ffff00;
$magenta: #ff00ff;
$cyan: #00ffff;

$orange: #ff9900;
$dark-violet: #674ea7;
$very-dark-blue: #073763;
$soft-blue: #6fa8dc;
$dark-red: #a61c00;
$desaturated-green: #93c47d; //$moderate-green: #99cc66;
$brown-from-dark-yellow: #7f6000;

$gold: #ffcc00;
$silver: #cccccc;
$bronze: #cc6633;

// Usages

// Super theme maps!
$theme-maps: (
  theme-one:
    (
      base-background: $white,
      base-colour: $black,
      colour: $erza-red,
      contrast: $erza-silver-shade,
      anchor-colour: $erza-red-highlight,
      anchor-colour-hover: $erza-silver
    ),
  theme-two:
    (
      base-background: $black-red,
      base-colour: $white,
      colour: $erza-red-highlight,
      contrast: $erza-silver,
      anchor-colour: $erza-silver-shade,
      anchor-colour-hover: $erza-red
    )
);
// Super theme maps end!
$primary-background: $erza-red;
$primary-colour: $erza-red;
$primary-colour-contrast: $erza-silver;
$secondary-background: $erza-red-highlight;
$secondary-colour: $erza-red-highlight;
$secondary-colour-contrast: $erza-silver-shade;
$spinner-colour-one: $erza-silver;
$spinner-colour-two: $erza-red-highlight;
$spinner-colour-three: $erza-silver;
$spinner-colour-four: $erza-red-highlight;
$anchor-colour: $secondary-colour;
$anchor-colour-hover: $secondary-colour-contrast;
$category-colours: (
  anime: $orange,
  develop: $dark-violet,
  exercise: $very-dark-blue,
  gaming: $yellow,
  manga: $soft-blue,
  other: $magenta,
  passing: $dark-red,
  sleep: $grey40,
  social: $desaturated-green,
  wasted: $brown-from-dark-yellow,
  work: $grey94
);
$info-colour: $cyan;
$success-colour: $green;
$alert-colour: $orange;
$danger-colour: $red;
$ui-messaging: (
  success: (background: $success-colour, colour: #000, icon: '\2713'),
  error: (background: $danger-colour, colour: #fff, icon: '\0021'),
  warning: (background: $alert-colour, colour: #000, icon: '\26a0'),
  info: (background: $info-colour, colour: #000, icon: '\2139')
);
$toasts: $ui-messaging;
$alerts: $ui-messaging;
