
.list-filter {
  display: flex;
  flex-direction: column;
  flex: 0 0 20%;
  height: calc(100vh - 50px);
  padding: 20px 5px;
}

.list-filter-custom-content {
  display: flex;
  align-items: flex-end;
  height: calc(100% - 240px);
}
