.list-filter {
  display: flex;
  flex-direction: column;
  flex: 0 0 20%;
  height: calc(100vh - 50px);
  padding: 20px 5px;

  .input-container {
    margin: 5px 0;
  }
  .select-box {
    min-height: 35px;
  }
}

.list-filter-custom-content {
  display: flex;
  align-items: flex-end;
  height: calc(100% - 240px);
}
