$darken-amount: 5%;

// Colours
$erza-red: #850512;
$erza-red-highlight: #e49aa1; // failed contrast test #ce414a;
$erza-blue: #082a6a;
$erza-silver: #e1e3ef; // ?? #c0c0c0
$erza-silver-shade: #414143; // failed contrast test #7e7e86;

$white: #fff;
$grey95: #f2f2f2;
$grey94: #efefef;
$grey80: #ccc;
$grey67: #aaa;
$grey40: #666;
$grey33: #555;
$onyx: #0f0f0f;
$black-blue: #1c1f2b;
$black-red: #420309;
$black-smokey: #100c08;
$black: #000;

$red: #ff0000;
$green: #00ff00;
$blue: #0000ff;
$yellow: #ffff00;
$magenta: #ff00ff;
$cyan: #00ffff;

$orange: #ff9900;
$dark-violet: #674ea7;
$very-dark-blue: #073763;
$soft-blue: #6fa8dc;
$dark-red: #a61c00;
$desaturated-green: #93c47d; //$moderate-green: #99cc66;
$forest-green: #228b22;
$brown-from-dark-yellow: #7f6000;

$gold: #ffcc00;
$silver: #cccccc;
$bronze: #cc6633;
