@import './_mixins';

.start-center-contents {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex {
  display: flex;

  &--row {
    flex-direction: row;

    @include respondTo(xs) {
      flex-direction: column;
    }

    &.flex--reverse {
      flex-direction: row-reverse;
    }
  }
  &--column {
    flex-direction: column;

    &.flex--reverse {
      flex-direction: column-reverse;
    }
  }

  &--grow {
    flex-grow: 1;
  }
  &--all {
    flex: 1 1 100%;
  }
}

.width-100 {
  width: 100%;
}

.padding-5 {
  padding: 5px;
}
.padding-10 {
  padding: 10px;
}

.no-margin {
  margin: 0;
}
