@import './_colours';

//for media queries.
$break-small: 768px;
$break-medium: 992px;
$break-large: 1200px;

//Unit helpers:
$pixel: 'px';
$percent: '%';

// Colour Usages

$spinner-colour-one: $erza-silver;
$spinner-colour-two: $erza-red-highlight;
$spinner-colour-three: $erza-silver;
$spinner-colour-four: $erza-red-highlight;

$info-colour: $cyan;
$success-colour: $green;
$alert-colour: $orange;
$danger-colour: $red;
$ui-messaging: (
  success: (
    background: $success-colour,
    colour: #000,
    icon: '\2713'
  ),
  error: (
    background: $danger-colour,
    colour: #fff,
    icon: '\0021'
  ),
  warning: (
    background: $alert-colour,
    colour: #000,
    icon: '\26a0'
  ),
  info: (
    background: $info-colour,
    colour: #000,
    icon: '\2139'
  )
);
$toasts: $ui-messaging;
$alerts: $ui-messaging;

//z-index
$z-index: (
  wafer: 1,
  above-siblings: 10,
  header: 50,
  popover: 100,
  menu: 250,
  alert: 1000
);

$header-height: 50px;
$sidebar-width-open: 200px;
$sidebar-width-collapsed: 50px;
