@import "./partials/_colours";
@import "./partials/_mixins";

// Input
form {
  .input-container, .select-container {
    width: 100%;
  }
}

input {
  background-color: inherit;
}

.input-container, .select-container {
  padding: 5px;

  input[type="text"], input[type="number"], input[type="date"], input[type="url"], select {
    width: 100%;
  }

}

// Select
.select-box {
  display: flex;
  justify-content: center;
  min-width: 100px;
  min-height: 25px;
  padding: 5px;
  border: none;
  cursor: pointer;
}

// Containers
.radio-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}
