@import './partials/_colours';
@import '../../node_modules/meiko/dist/templates/_button-link-customise-template';
@import '../../node_modules/meiko/dist/templates/_theme-template';

$placeholder: transparent;
$base-background: $placeholder;
$contrast: $placeholder;
$colour: $placeholder;

@include buttonStyles;
@include applicationHeaderLinks;
@include applicationTheme {
  // satellizer theming
  #satellizer {
    a {
      color: $anchor-colour;
      &:hover {
        color: $anchor-colour-hover;
      }
    }

    #season-key {
      background: $base-background;
    }

    .history-breakdown-body__row.month-breakdown:hover,
    .history-breakdown-body__row.year-breakdown:hover,
    .history-breakdown-body__row.month-breakdown:hover a,
    .history-breakdown-body__row.year-breakdown:hover a,
    #series-by-ratings-list > li:hover,
    #series-by-ratings-list > li:hover a,
    .repeated-series-table-row:hover,
    .repeated-series-table-row:hover a {
      background-color: $anchor-colour-hover;
      color: $anchor-colour;
    }

    .history-breakdown-body__data-cell__background {
      background-color: $contrast;
    }

    .rating-label.selected {
      background-color: $colour;
      color: $contrast;
    }
  }
}
