@import "./partials/_colours";

@each $name, $values in $theme-maps {
  $base-background: map-get($values, base-background);
  $base-colour: map-get($values, base-colour);
  $colour: map-get($values, colour);
  $contrast: map-get($values, contrast);

  .#{$name} {
    background: $base-background;
    color: $base-colour;

    .input-container {
      input {
        border-bottom-color: $base-colour;
      }
    }

  }

}
