@import "./partials/_colours";
@import "./partials/_mixins";


@mixin shiftColourLightness($colour, $percentage) {
  @include lightenOrDarken("background-color", $colour, $percentage);
}

@each $name, $values in $theme-maps {
  $base-background: map-get($values, base-background);
  $base-colour: map-get($values, base-colour);
  $colour: map-get($values, colour);
  $contrast: map-get($values, contrast);

  .#{$name} {
    background: $base-background;
    color: $base-colour;

    .input-container {     
      input {
        background-color: inherit;
        color: $colour;
        &:focus {
          border-bottom-color: $colour;
        }     
      }
      
      .tickbox input::before {
        color: $contrast;
      }
      .tickbox input:checked::before {
        color: $colour;
      }      
    }
    
    .rating-control {
      .rating-control-option input[type="radio"] {
        color: $contrast;
      }
    }
    
    .button {
      background-color: $base-background;
      color: $base-colour;
      &:hover {
        @include shiftColourLightness($base-background, $darken-amount);
      }
    }

  } // End of Theme block

} // End of @each
