@import '../../styles/partials/_colours.scss';
@import '../../styles/partials/_variables.scss';

#app-settings {
  color: $white;

  > input {
    display: none;
  }
  > label {
    cursor: pointer;
    &:before {
      content: attr(icon);
      font-size: 1.5rem;
    }
  }
}

#app-settings-menu {
  transform: translateY(50px);
  z-index: map-get($z-index, popover);
  .select-container {
    margin: 15px 0;
  }
  .select-box {
    width: 100%;
  }
}
