@import '../../styles/partials/_colours.scss';
@import '../../styles/partials/_variables.scss';

.dropdown-menu {
  position: fixed;
  width: 200px;
  min-height: 100px;
  background-color: $white;
  border-radius: 4px;
  box-shadow: 2px 2px 10px #aaa;
  top: 0;
  right: 0;
  padding: 2px;
  margin: 0;
  list-style-type: none;
  transform: translateY(70px);
  transition: visibility 0.5s;
  transition-delay: 1s !important;
  .dropdown-arrow {
    position: absolute;
    top: -18px;
    right: 5px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid $white;
    width: 0;
    height: 0;
    -webkit-filter: drop-shadow(0 -2px 2px #aaa);
  }
}

#app-settings-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: map-get($z-index, above-siblings);
}

#app-settings {
  color: $white;

  > input {
    display: none;
  }
  > label {
    cursor: pointer;
    &:before {
      content: attr(icon);
      font-size: 1.5rem;
    }
  }
}

#app-settings-menu {
  z-index: map-get($z-index, above-siblings);
  .select-container {
    margin: 15px 0;
  }
  .select-box {
    width: 100%;
  }
}
