.radio {
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  input[type="radio"] {
    appearance: none;
    padding-right: 2px;
    margin: 0;
    pointer-events: none;

    &::after {
      content: "\25ef";
      color: #aaa;
      font-size: 1.2rem;
      vertical-align: middle;
    }

    &:checked::after {
      content: "\25c9";
      color: #000;
      font-size: 1.5rem;
    }
  }

}
