@import '../../../styles/_mixins';

.history-list-item {
  display: flex;
  flex-direction: row;
  padding: 5px 0;
  border-bottom: 1px dashed transparent;

  &__rating-block {
    padding: 0 5px;
  }

  &__note {
    width: 100%;
    padding: 0 5px;
    border-left: 1px dashed;
    margin: 0;
  }

  time {
    min-width: 185px;
  }

  .rating-control {
    padding: 0;
  }

  &.series-title {
    border-bottom: 2px solid #000;
    padding: 10px 5px 2px;
    margin-top: -5px;
    font-weight: bold;
    align-items: center;

    .erza-button-link {
      white-space: inherit;
    }
  }

  .history-repeat::before {
    content: attr(icon);
    font-weight: bold;
  }

  @include respondTo(xs) {
    flex-direction: column;

    &__rating-block {
      padding: 0;
    }

    &__actions {
      display: flex;
      justify-content: flex-end;
    }

    &.series-title .erza-button-link {
      justify-content: flex-start;
      width: fit-content;
    }
  }
}

.paged-history--column-on-small .history-list-item {
  @include respondTo(sm) {
    flex-direction: column;
    align-items: flex-start;

    &.series-title .erza-button-link {
      justify-content: flex-start;
      width: fit-content;
    }
  }
}

.history-list-break {
  width: 100%;
  margin: 1px;
}
