@import '../../styles/_colours.scss';
@import '../../styles/_variables.scss';

.app-settings {
  color: $white;

  &__tickbox {
    max-height: unset;
  }

  .select-container {
    margin: 15px 0;
  }

  .select-box {
    width: 100%;
  }
}
