%cleanButton {
  background: transparent;
  border: none;
}

.timeline {
  display: flex;
  flex-direction: column;

  &__content {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 5px 0;
    overflow: hidden;
  }
}

.timeline-controls {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
  padding: 2px 0;
  border-bottom: 1px solid #ddd;

  &__button {
    @extend %cleanButton;
    cursor: pointer;
    box-sizing: border-box;
  }
}

.timeline-row {
  display: flex;
  padding: 2px 5px;
  margin: 2px 0;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  // temp
  border: 1px dotted;
}