$timeline-controls-height: 20px;

.timeline {
  display: flex;
  flex-direction: column;

  &__scroll-wrapper {
    height: calc(100% - #{$timeline-controls-height});
    overflow-y: scroll;
  }

  &__content {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 5px 0;
    overflow: hidden;
  }
}

.timeline-row {
  display: flex;
  padding: 2px 5px;
  margin: 2px 0;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  // temp
  border: 1px dotted;
}
