@import "../../styles/partials/_variables";

.dialog {
  min-width: 300px;
  width: auto;
  max-width: 50vw;
  box-shadow: 2px 2px 10px #aaa;
  border: none;
  transform: translateY(-50%);
  z-index: map-get($z-index, popover);

  &.backdrop::backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #eee;
  }
}
.dialog-title {
  margin: 0 {
    bottom: 15px;
  };
}
.dialog-content-custom {
  padding: 5px 0;
}
