@import "../../styles/partials/_colours";

#toaster {
  position: fixed;
  bottom: 12px;
  right: 12px;
  z-index: 9001;
  pointer-events: none;
}

.toast {
  position: relative;
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 10px {
    left: 40px;
  };
  width: 300px;
  border-radius: 3px;
  box-shadow: 0 0 12px #999;
  color: #fff;
  opacity: 0;
  cursor: pointer;
  animation: {
    name: cool-down;
    duration: 3s;
    iteration-count: 1;
  };
  
  .title {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  &::before {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 1.6rem;
  }
  
}

@each $type, $values in $toasts {
  $background: map-get($values, background);
  $colour: map-get($values, colour);
  $content: map-get($values, icon);
  
  .toast.#{$type} {
    background-color: $background;
    color: $colour;
    &::before {
      content: $content;
    }
  }
}

@keyframes cool-down {
  0% { opacity: 0.8; }
  50% { opacity: 0.8; }
  75% { opacity: 0.4; }
  100% { opacity: 0; }
}
