.history-list-item {
  display: flex;
  flex-direction: row;
  padding: 5px 0;
  border-bottom: 1px dashed transparent;

  time {
    min-width: 185px;
  }

  > div {
    min-width: 210px;
    padding: 0 5px;
  }

  .rating-control {
    padding: 0;
  }

  &.series-title {
    border-bottom: 2px solid #000;
    padding: 2px 5px {
      left: 15px;
      top: 10px;
    }
    margin-top: -5px;
    font-weight: bold;
  }
}
