@import "../../styles/partials/_colours";

$rating-control-size: 20px;
$rating-kpi: (
  low: $black-smokey,
  average: $bronze,
  good: $silver,
  great: $gold
);

.rating-control {
  position: relative;
  display: flex;
  padding: 5px {
    top: 1em;
  };

  .rating-control-label {
    position: absolute;
    top: 1px;
    left: 5px;
    font-size: 0.75em;
  }
}

.rating-control-option {
  height: $rating-control-size;
  width: $rating-control-size;
  input[type="radio"] {
    position: relative;
    appearance: none;
    height: $rating-control-size;
    width: $rating-control-size;
    margin: 0;
    &::before {
      content: "\2B50";
      position: absolute;
      top: -5px;
      bottom: 0;
      left: 0;
      right: 0;
      font-size: 1.5em;
    }
  }
}

.rating-control:not(.read-only) .rating-control-option input {
  cursor: pointer;
}

.rating-control-option.past input::before,
.rating-control-option.selected input::before {
  content: "\2605";
}

@each $level, $colour in $rating-kpi {

  .rating-control-option.#{$level}:hover {
    input::before {
      color: $colour;
    }
  }

  .rating-control-option.#{$level} {
    &.past input::before, &.selected input::before {
      color: $colour;
    }
  }

}
