@import "../../styles/partials/_colours";

.input-list-container {
  display: flex !important;
  flex-direction: column;
  padding-top: 1em !important;

  .list {
    padding: {
      top: 0;
      left: 0.5em;
      bottom: 0.2em;
      right: 0.5em;
    };
    margin: 0 {
      bottom: 2px;
    };
    border: 0;
    border-radius: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  }

  input:focus ~ .list {
    border-color: rgba(0, 0, 0, 0.5);
  }

}

.input-list-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
}

.input-chip {
    height: 32px;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    line-height: 32px;
    padding: 0 12px;
    border: 0;
    border-radius: 16px;
    background-color: #dedede;
    display: inline-block;
    color: rgba(0,0,0,.87);
    margin: 2px 0;
    font-size: 0;
    white-space: nowrap;
    &.active, &.active .input-chip-delete {
      background-color: $primary-background;
      color: $primary-colour-contrast;
    }
}
.input-chip-deletable {
    padding-right: 4px;
}

.input-chip-text {
    font-size: 13px;
    vertical-align: middle;
    display: inline-block;
}

.input-chip-delete {
    display: inline-block !important;
    vertical-align: middle;
    overflow: hidden;
    text-align: center;
    height: 24px;
    width: 24px;
    background: 0 0;
    opacity: .54;
    cursor: pointer;
    padding: 0;
    margin: 0 0 0 4px;
    font-size: 13px;
    text-decoration: none;
    color: rgba(0,0,0,.87);
    border: none;
    outline: none;
}


.autocomplete-menu {
  width: 100%;
  padding: 5px;
  margin: 0;
  list-style-type: none;

  .autocomplete-suggestion .button {
    width: 100%;
  }
  .highlight {
    font-weight: bold;
  }
}
