@import './styles/_mixins';
@import './styles/_colours';
@import './styles/_variables';
@import './styles/_helpers';

@font-face {
  font-family: 'Roboto Mono';
  font-display: fallback;
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono'), local('RobotoMono-Regular'),
    url('./styles/roboto-mono.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

* {
  box-sizing: border-box;
}

.filters-container {
  display: flex;
  flex-direction: column;
  width: 22%;
  max-width: 22%;
  min-width: 225px;
  padding: 20px 5px;

  &--wider {
    width: 25%;
    max-width: 25%;
  }

  @include respondTo(xs) {
    width: 100%;
    max-width: 100%;
  }

  .input-container {
    flex-grow: 0;
  }
}

// custom lists

.list {
  .label {
    font-weight: bold;
  }
  .label,
  .value {
    display: flex;
    align-items: center;
    padding: 2px 10px;
  }
  .value {
    .erza-button-link {
      padding: 0;
    }

    &::before {
      content: attr(icon);
      font-weight: bold;
    }
  }
}

// MISC

.delete-action {
  position: relative;
}

#series-by-ratings-container .input-container {
  flex-grow: 0;
}

.erza-tag button {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.tag-item > .erza-button-link {
  justify-content: flex-start;
}
