@import './styles/partials/_mixins';
@import './styles/partials/_colours';
@import './styles/partials/_variables';

@font-face {
  font-family: 'Roboto Mono';
  font-display: fallback;
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono'), local('RobotoMono-Regular'),
    url('./styles/roboto-mono.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

* {
  box-sizing: border-box;
}

$series-image-container--height: 150px;
.series-image-container {
  height: auto;
  max-height: $series-image-container--height;
  max-width: 235px;
  padding: 0 5px;
  overflow: hidden;

  p {
    padding: 5px;
    margin: 5px;
  }

  img {
    width: 100%;
    min-height: $series-image-container--height;
    height: auto;
  }
  .mal-link > img {
    width: 27px;
    min-height: 27px;
  }

  &.full {
    max-height: none;
    padding: 5px;
    img {
      padding: 5px;
    }
  }
}

.mal-link {
  padding: 3px 6px;
  margin: 2px 5px {
    left: 0;
  }
}

.filters-container {
  display: flex;
  flex: 0 0 20%;
  padding: 20px 5px;

  &--wider {
    flex: 0 0 25%;
  }

  > div {
    display: flex;
    flex-flow: column;
    width: 100%;
  }
  .input-container {
    flex-grow: 0;
  }
}

// custom lists
.paged-list-edit .list {
  height: 250px;
  max-height: 250px;
  overflow: auto;
  li {
    min-height: 60px;
    max-height: 60px;
  }
}

.list {
  .label {
    font-weight: bold;
  }
  .label,
  .value {
    display: flex;
    align-items: center;
    padding: 2px 10px;
  }
  .value {
    .erza-button-link {
      padding: 0;
    }

    &::before {
      content: attr(icon);
      font-weight: bold;
    }
  }
}

// MISC

.delete-action {
  position: relative;
}

#series-by-ratings-container .input-container {
  flex-grow: 0;
}

.erza-tag button {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.satellizer-content-types {
  justify-content: flex-start;
  padding: 0;
  margin: 0 {
    left: 15px;
  }
}

.tag-item > .erza-button-link {
  justify-content: flex-start;
}
