.sidebar-collapsed {
  .sidebar-item__link {
    height: 50px;
    display: flex;

    &-text {
      display: none;
    }

    &-icon {
      display: flex;
      flex: 1 1 20%;
      height: 100%;
    }
  }
}

ul {
  .sidebar-item__link-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1 1 80%;
    margin-left: 5px;
  }

  .sidebar-item__link-icon {
    display: none;
  }
}
