.sidebar-collapsed {
  .sidebar-item-text {
    display: none;
  }

  .sidebar-item-icon {
    display: flex;
    flex: 1 1 20%;
  }
}

ul {
  .sidebar-item-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1 1 80%;
    margin-left: 5px;
  }

  .sidebar-item-icon {
    display: none;
  }
}
