.sidebar {
  .sidebar-item {
    &__link-text {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex: 1 1 80%;
      padding-left: 5px;
      height: 100%;
    }

    &__link-icon {
      display: none;
    }
  }
}

.sidebar--collapsed {
  .sidebar-item__link {
    height: 50px;
    display: flex;

    &-text {
      display: none;
    }

    &-icon {
      display: flex;
      flex: 1 1 20%;
      height: 100%;
    }
  }
}
